.today {
  background-color: #FF9800;
  color: #fff;
  width: 14.28% !important;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  margin: -15px 0px;
}

.no-today {
  background-color: #fff;
  color: #000;
  width: 14.28% !important;
  border-radius: 15px;
  text-align: center;
}

.SchedulueNow{
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  display: flex;
}

.labelSchedul{
  background-color: #ff9800;
  height: auto;
  width: 25px;
  margin-left: -8px;
  border-radius: 16px 0px 0px 16px;
}

.pull-right {
  float: right !important;
}

.box {
  background-color: #78e08f;
  padding: 10px;
  margin: 0 0 20px 0;
}

@keyframes append-animate {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1; 
  }
}

/* animate new box */
.new-box {
  transform-origin: 50% 0;  
  animation: append-animate .3s linear;
}

.breadcrumbs {
  font-size: 14px;
}

.summaryCustom {
  font-size: 14px;
  margin-right: 25px;
}

.grid-view .filters input, .grid-view .filters select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  padding: 0px 10px; 
}

.first a{
  border-radius: 10px;
  margin-right: 10px;
}

.previous a{
  border-radius: 10px;
  margin-right: 10px;
} 

.next a{
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 15px;
}

.last a{
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 15px;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
  padding: 5px 11px;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
  border: 1px solid #496a9e;
}

.page a{
  align-items: center;
  justify-content: center;
  color: #8392ab;
  padding: 0;
  margin: 0 3px;
  border: 1px solid #dee2e6;
  border-radius: 50%!important;
  width: 36px;
  height: 36px;
  font-size: .875rem;
  margin-left: 0;
}

.page.selected a{
  background: transparent;
  background-image: linear-gradient(310deg,#4a6ba0,#354878) !important;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
  color: #fff;
  border: none !important;
  border-radius: 50%!important;
}

.link-play {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.link-thumb {
  border-radius: 10px;
}

.link-media:hover .link-play {
  opacity: 1;
}

.link-media:hover .link-thumb {
  opacity: 0.3;
}

.add-calendar:hover {
  color: #c59711;
}
