.profile{
  border-radius: 5px;
  padding: 10px;
  border:1px solid #ddd;
  margin-bottom: 5px;
}

.pola{
background-color: #FFC107;
width: fit-content;
padding: 5px 15px;
border-radius: 10px;
margin: auto;
}

.durasi{
background-color: #4CAF50;
width: fit-content;
padding: 5px 15px;
border-radius: 10px;
margin: auto;
}

.sasaran{background-color: #009688;width: fit-content;padding: 5px 15px;border-radius: 10px;margin: auto;}
.kualifikasi{background-color: #2196F3;width: fit-content;padding: 5px 15px;border-radius: 10px;margin: auto;}
.pelatihan{background-color: #FF5722;width: fit-content;padding: 5px 15px;border-radius: 10px;margin: auto;}

.calendar {
  background-color: #f9f9f9;
    height: 100%;
}

.add-calendar {
  color: #19314c;
    padding: 15px;
}

.add-calendar:hover {
  background-color:#19314c;
  color: #ffffff;
}

.dashboard {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  margin-right: 15px;
  margin-bottom: 15px;
  width: 45%;
  float: left;
  position: relative;
}

.today {
  background-color: #FF9800;
  color: #fff;
  width: fit-content;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  margin-right: 10px;
}

.no-today {
  background-color: #fff;
  color: #000;
  width: fit-content;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  margin-right: 10px;
}

.SchedulueNow{
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  display: flex;
}

.labelSchedul{
  
background-color: #ff9800;
  
height: auto;
  
width: 25px;
  
margin-left: -8px;
  
border-radius: 16px 0px 0px 16px;
}